@common.layout({title: "Movies App"})
  @slot('meta')
    <meta name="description" content="This is a dumb movie app" />
  @end

  <h1>
    Movies App
  </h1>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
    @each((movie) in movies)
      @!movie.card({movie})
    @end
  </div>
@end
