<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      AdonisJS - A fully featured web framework for Node.js
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body>
    <main class="max-w-3xl mx-auto">
      <nav class="flex gap-2">
      </nav>

      <h1>
        Hello
      </h1>

      <ul>
        @each(movie in movies)
          <li>
            <a
              class="underline text-indigo-700 font-500 hover:text-indigo-400"
              href="{{ route('movies.show', { slug: movie.slug }) }}"
            >{{ movie.title }}</a>
          </li>
        @end
      </ul>
    </main>
  </body>
</html>
